# ETL Project
#### Group: Yan Zhang, Ray Speakmoore, Christian Fernandez

In [ ]:
import pandas as pd

## === Sales Order Details ===

In [ ]:
sales_csv = "Resources/Store_Order_Detail.csv"
sales_df = pd.read_csv(sales_csv, encoding = "ISO-8859-1")
sales_df.head()

## === Clean DataSet ===

In [ ]:
new_sale_df = sales_df.copy()
new_sale_df['County'],new_sale_df['State'] = sales_df['Address'].str.rsplit(',').str
new_sale_df.head()

In [ ]:
new_sale_df['Zip Code'] = sales_df['Postal Code'].str[:5]
new_sale_df.head()

In [ ]:
new_sale_df2 = new_sale_df[['Recipient','County','State','Zip Code','Date Paid','Amt Paid','Record #',
                            'Item ID','Unit Price','Qty','Ext Price','Unnamed: 14']]
new_sale_df2.head()

In [ ]:
new_sale_df3 = new_sale_df2.copy()
new_sale_df3['Date'],new_sale_df3['Time']  = new_sale_df2['Date Paid'].str.rsplit(' ').str

In [ ]:
new_sale_df3.head()

In [ ]:
new_sale_df4 = new_sale_df3.copy()
new_sale_df4['Month'],new_sale_df4['Day'],new_sale_df4['Year'] = new_sale_df3['Date'].str.rsplit('/').str
new_sale_df4.head()

In [ ]:
new_sale_df4.rename(columns = {'Recipient':'Customer_name',
                               'Amt Paid':'Paid_Amount',
                               'Date':'Purchase_Date',
                                'Unnamed: 14':'Model'},
                               inplace = True)
new_sale_df4.head()

In [ ]:
new_sale_df5 = new_sale_df4.copy()
new_sale_df5 = new_sale_df4[['Customer_name','Record #','Year','Month','County','State',
                            'Zip Code','Item ID','Unit Price','Qty','Paid_Amount','Model']]
new_sale_df5.count()

In [ ]:
new_sale_df6 = new_sale_df5.copy()
new_sale_df6 = new_sale_df5[new_sale_df5['Model'].str.contains("Model", na=False)]
new_sale_df6['Model'].value_counts()

In [ ]:
new_sale_df7 = new_sale_df6.copy()
new_sale_df7['Model'] = new_sale_df6['Model'].str[8:]
new_sale_df7['Model'] = new_sale_df7['Model'].str.upper()
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace("FOR ", "") 
new_sale_df7['Model'].value_counts()

In [ ]:
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE 8 PLUS','IPHONE 8 PLUS')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE 7 PLUS','IPHONE 7 PLUS')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE 6 PLUS','IPHONE 6 PLUS')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE 7','IPHONE 7')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE 8','IPHONE 8')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE 6','IPHONE 6')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE 6S','IPHONE 6S')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE XR','IPHONE XR')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE XS','IPHONE XS')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE X','IPHONE X')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('APPLE IPHONE XS MAX','IPHONE XS MAX')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['SAMSUNG GALAXY S9+',
                                                       'SAMSUNG GALAXY S9 PLUS+',
                                                       'SAMSUNG GALAXY S9 PLUS PLUS'],'SAMSUNG GALAXY S9 PLUS')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['GALAXY S8','SAMSUNG GALAXY S8'],'SAMSUNG GALAXY S8')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['GALAXY S8 PLUS','SAMSUNG SAMSUNG GALAXY S8 PLUS',
                                                      'SAMSUNG SAMSUNG GALAXY S8+',
                                                       'SAMSUNG GALAXY S8+','SAMSUNG GALAXY S8 PLUS OR S8 EDGE','GALAXY S8 PLUS OR S8 EDGE'],'SAMSUNG GALAXY S8 PLUS')
new_sale_df7['Model'] = new_sale_df7['Model'].str.replace('SAMSUNG GALAXY NOTE5','SAMSUNG GALAXY NOTE 5')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['GALAXY NOTE 8','SAMSUNG SAMSUNG GALAXY NOTE 8'],'SAMSUNG GALAXY NOTE 8')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['GALAXY NOTE 9','SAMSUNG SAMSUNG GALAXY NOTE 9'],'SAMSUNG GALAXY NOTE 9')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['SAMSUNG GALAXY J7 STAR',
                                                       'GALAXY J7 PRIME (J727T)',
                                                       'SAMSUNG GALAXY J7 PRIME J727T',
                                                       'SAMSUNG GALAXY J7 REFINE',
                                                       'SAMSUNG GALAXY J7 V',
                                                       'SAMSUNG GALAXY J7 V 2ND GEN',
                                                       'SAMSUNG GALAXY J7 PRIME J727T',
                                                       'SAMSUNG GALAXY J7 REFINE',
                                                       'SAMSUNG GALAXY J7 REFINE'],'SAMSUNG GALAXY J7')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['SAMSUNG GALAXY J3 2018 ( AT&T)',
                                                       'SAMSUNG GALAXY J3 ACHIEVE',
                                                       'SAMSUNG GALAXY J3 ECLIPSE',
                                                       'SAMSUNG GALAXY J3 EMERGE',
                                                       'SAMSUNG GALAXY J3 MISSION',
                                                       'SAMSUNG GALAXY J3 PRIME',
                                                       'SAMSUNG GALAXY J3 STAR', 
                                                       'SAMSUNG GALAXY J3 V 3RD GEN ( VERIZON )',
                                                       'SAMSUNG GALAXY J3 J327P (2017)',
                                                       'SAMSUNG GALAXY J3 LUNA PRO'],'SAMSUNG GALAXY J3')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['LG ARISTO',
                                                       'LG FIESTA LTE',
                                                       'LG FORTUNE / M153',
                                                       'LG HARMONY', 'LG K10',
                                                       'LG K10 2017',
                                                       'LG K20 PLUS',
                                                       'LG K20 V',
                                                       'LG K8 / 2017',
                                                       'LG LV3 / MS210',
                                                       'LG LV5',
                                                       'LG PHOENIX 3 / M150',
                                                       'LG REBEL 2 / L58VL',
                                                       'LG X CHARGE'],'LG')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['MOTOROLA MOTO Z2 FORCE',
                                                      'MOTOROLA MOTO Z FORCE EDITION 2ND GEN'],'MOTOROLA')
new_sale_df7['Model'] = new_sale_df7['Model'].replace(['ZTE BLADE SPARK Z971', 'ZTE BLADE X MAX', 'ZTE GRAND X4'],'ZTE')
new_sale_df7['Model'].unique()

In [ ]:
new_sale_df7['Model'].value_counts().sort_index()

In [ ]:
new_sale_df7.set_index("Record #")

## === 2018 Model Sales Sum ===

In [ ]:
#ave_sale_df = pd.DataFrame({"Sales Average":new_sale_df7.groupby(["Model"])["Ext Price"].mean()})
ave_sale_df = new_sale_df7.groupby(["Model"]).sum()
ave_sale_df = ave_sale_df[['Qty', 'Paid_Amount']]
ave_sale_df = ave_sale_df.sort_values(by=['Paid_Amount'],ascending=False)
ave_sale_df

## === 2018 Inventory purchase Cost ===

In [ ]:
Inventory_csv = "Resources/Item_Inventory_Price.csv"
Inventory_df = pd.read_csv(Inventory_csv, encoding = "ISO-8859-1")
Inventory_df.rename(columns = {'Price':'Buying Price'}, inplace=True)
Inventory_df.head()

In [ ]:
new_sale_df7.head()

In [ ]:
sales_df_final = new_sale_df7[['Record #', 'Item ID', 'Qty', 'Paid_Amount','Model']]
sales_with_buying = pd.merge(sales_df_final,Inventory_df,how='inner',on='Item ID')
sales_with_buying.head()

In [ ]:
sales_with_buying['Buying Price'] = sales_with_buying['Buying Price'].astype(float)
sales_with_buying['Total Buying'] = sales_with_buying['Buying Price'] * sales_with_buying['Qty'] 
sales_with_buying.head()

In [ ]:
Inventory_Buying = sales_with_buying.groupby(["Model"]).sum()
Inventory_Buying = Inventory_Buying[['Qty','Total Buying']]
Inventory_Buying.sort_values(by=['Total Buying'])
Inventory_Buying.head()

## === 2018 Inventory Shipping Cost ===

In [ ]:
shipping_csv = "Resources/Shipping_Cost_Store.csv"
shipping_df = pd.read_csv(shipping_csv, encoding = "ISO-8859-1")
shipping_df = shipping_df[['Order #','Zone','Shipping Cost']]
shipping_df.rename(columns = {'Order #':'Record #'}, inplace=True)
shipping_df.head()

In [ ]:
sales_with_shipping = pd.merge(new_sale_df7,shipping_df,how='inner',on='Record #')
sales_with_shipping = sales_with_shipping[['Record #','County','State','Zone','Qty','Paid_Amount','Shipping Cost','Model']]
sales_with_shipping.head()

In [ ]:
zone_shipping_df = sales_with_shipping.groupby(["Zone"]).sum()
zone_shipping_df

In [ ]:
address_shipping_df = sales_with_shipping.groupby(['State','County']).sum()
address_shipping_df.head()

In [ ]:
model_shipping_df = sales_with_shipping.groupby(['Model']).sum()
model_shipping_df = model_shipping_df[['Paid_Amount','Shipping Cost']]
model_shipping_df.head()

## === Mergeing all Three Data ===

In [ ]:
sale_df = pd.merge(ave_sale_df,Inventory_Buying['Total Buying'],how='inner',on='Model')
sale_df_final = pd.merge(sale_df,model_shipping_df['Shipping Cost'],how='inner',on='Model')
sale_df_final = sale_df_final.reset_index()
sale_df_final.head()

## === Exporting to SQL ===

In [ ]:
from sqlalchemy import create_engine
import pymongo

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
db = client.PhoneCase_DB
Cases = db.Cases.find()

In [ ]:
data = sale_df_final.to_dict(orient='records')  # Here's our added param..
db.Cases.insert_many(data)